--
-- PostgreSQL database dump
--

\restrict vNSzulm6AqEaH7i4bGoMejgurwlT2aSXRxt4da6vSGWzCpvYry98H3hCPo9x0oY

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.user_application_roles DROP CONSTRAINT IF EXISTS fk_user_application_roles_users_user_id;
ALTER TABLE IF EXISTS ONLY public.user_application_roles DROP CONSTRAINT IF EXISTS fk_user_application_roles_application_roles_role_id;
ALTER TABLE IF EXISTS ONLY public.models DROP CONSTRAINT IF EXISTS fk_models_model_groups_model_group_id;
ALTER TABLE IF EXISTS ONLY public.devops_repository_mappings DROP CONSTRAINT IF EXISTS fk_devops_repository_mappings_models_model_id;
ALTER TABLE IF EXISTS ONLY public.database_data_types DROP CONSTRAINT IF EXISTS fk_database_data_types_database_systems_database_system_id;
ALTER TABLE IF EXISTS ONLY public.change_requests DROP CONSTRAINT IF EXISTS fk_change_requests_users_requester_id;
ALTER TABLE IF EXISTS ONLY public.change_requests DROP CONSTRAINT IF EXISTS fk_change_requests_models_model_id;
ALTER TABLE IF EXISTS ONLY public.change_request_details DROP CONSTRAINT IF EXISTS fk_change_request_details_change_requests_change_request_id;
ALTER TABLE IF EXISTS ONLY public.change_request_approval_logs DROP CONSTRAINT IF EXISTS fk_change_request_approval_logs_users_action_by;
ALTER TABLE IF EXISTS ONLY public.change_request_approval_logs DROP CONSTRAINT IF EXISTS fk_change_request_approval_logs_change_requests_change_request_;
ALTER TABLE IF EXISTS ONLY public.yjs_updates DROP CONSTRAINT IF EXISTS "FK_yjs_updates_users_user_id";
ALTER TABLE IF EXISTS ONLY public.yjs_updates DROP CONSTRAINT IF EXISTS "FK_yjs_updates_models_model_id";
ALTER TABLE IF EXISTS ONLY public.user_application_roles DROP CONSTRAINT IF EXISTS "FK_user_application_roles_users_user_id";
ALTER TABLE IF EXISTS ONLY public.user_application_roles DROP CONSTRAINT IF EXISTS "FK_user_application_roles_application_roles_role_id";
ALTER TABLE IF EXISTS ONLY public.repository_connections DROP CONSTRAINT IF EXISTS "FK_repository_connections_users_created_by";
ALTER TABLE IF EXISTS ONLY public.models DROP CONSTRAINT IF EXISTS "FK_models_users_owner_id";
ALTER TABLE IF EXISTS ONLY public.models DROP CONSTRAINT IF EXISTS "FK_models_model_groups_model_group_id";
ALTER TABLE IF EXISTS ONLY public.model_versions DROP CONSTRAINT IF EXISTS "FK_model_versions_users_created_by";
ALTER TABLE IF EXISTS ONLY public.model_versions DROP CONSTRAINT IF EXISTS "FK_model_versions_models_model_id";
ALTER TABLE IF EXISTS ONLY public.model_versions DROP CONSTRAINT IF EXISTS "FK_model_versions_model_versions_parent_version_id";
ALTER TABLE IF EXISTS ONLY public.model_groups DROP CONSTRAINT IF EXISTS "FK_model_groups_users_created_by";
ALTER TABLE IF EXISTS ONLY public.model_group_permissions DROP CONSTRAINT IF EXISTS "FK_model_group_permissions_models_model_id";
ALTER TABLE IF EXISTS ONLY public.model_collaborators DROP CONSTRAINT IF EXISTS "FK_model_collaborators_users_user_id";
ALTER TABLE IF EXISTS ONLY public.model_collaborators DROP CONSTRAINT IF EXISTS "FK_model_collaborators_models_model_id";
ALTER TABLE IF EXISTS ONLY public.model_changes DROP CONSTRAINT IF EXISTS "FK_model_changes_users_user_id";
ALTER TABLE IF EXISTS ONLY public.model_changes DROP CONSTRAINT IF EXISTS "FK_model_changes_models_model_id";
ALTER TABLE IF EXISTS ONLY public.editing_sessions DROP CONSTRAINT IF EXISTS "FK_editing_sessions_users_user_id";
ALTER TABLE IF EXISTS ONLY public.editing_sessions DROP CONSTRAINT IF EXISTS "FK_editing_sessions_models_model_id";
ALTER TABLE IF EXISTS ONLY public.devops_repository_mappings DROP CONSTRAINT IF EXISTS "FK_devops_repository_mappings_models_model_id";
ALTER TABLE IF EXISTS ONLY public.database_data_types DROP CONSTRAINT IF EXISTS "FK_database_data_types_database_systems_database_system_id";
ALTER TABLE IF EXISTS ONLY public.change_requests DROP CONSTRAINT IF EXISTS "FK_change_requests_users_requester_id";
ALTER TABLE IF EXISTS ONLY public.change_requests DROP CONSTRAINT IF EXISTS "FK_change_requests_models_model_id";
ALTER TABLE IF EXISTS ONLY public.change_request_details DROP CONSTRAINT IF EXISTS "FK_change_request_details_change_requests_change_request_id";
ALTER TABLE IF EXISTS ONLY public.change_request_approval_logs DROP CONSTRAINT IF EXISTS "FK_change_request_approval_logs_users_action_by";
ALTER TABLE IF EXISTS ONLY public.change_request_approval_logs DROP CONSTRAINT IF EXISTS "FK_change_request_approval_logs_change_requests_change_request~";
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS "FK_audit_logs_users_user_id";
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS "FK_audit_logs_models_model_id";
DROP INDEX IF EXISTS public.ux_change_requests_change_code;
DROP INDEX IF EXISTS public.uq_devops_repository_mappings_model_id;
DROP INDEX IF EXISTS public.idx_user_application_roles_role_id;
DROP INDEX IF EXISTS public.idx_project_metadata_fields_active_sort;
DROP INDEX IF EXISTS public.idx_models_model_group_id;
DROP INDEX IF EXISTS public.idx_model_groups_name;
DROP INDEX IF EXISTS public.idx_devops_repository_mappings_enabled;
DROP INDEX IF EXISTS public.idx_database_systems_is_active;
DROP INDEX IF EXISTS public.idx_database_data_types_system_id;
DROP INDEX IF EXISTS public.idx_database_data_types_is_active;
DROP INDEX IF EXISTS public.idx_change_requests_status;
DROP INDEX IF EXISTS public.idx_change_requests_requester_id;
DROP INDEX IF EXISTS public.idx_change_requests_model_id;
DROP INDEX IF EXISTS public.idx_change_requests_created_at;
DROP INDEX IF EXISTS public.idx_change_request_approval_logs_created_at;
DROP INDEX IF EXISTS public.idx_change_request_approval_logs_change_request_id;
DROP INDEX IF EXISTS public.idx_change_request_approval_logs_action_by;
DROP INDEX IF EXISTS public.idx_application_roles_is_active;
DROP INDEX IF EXISTS public."IX_yjs_updates_user_id";
DROP INDEX IF EXISTS public."IX_yjs_updates_model_id";
DROP INDEX IF EXISTS public."IX_yjs_updates_created_at";
DROP INDEX IF EXISTS public."IX_users_email_lower";
DROP INDEX IF EXISTS public."IX_users_email";
DROP INDEX IF EXISTS public."IX_users_azure_ad_id";
DROP INDEX IF EXISTS public."IX_user_application_roles_role_id";
DROP INDEX IF EXISTS public."IX_repository_connections_is_default";
DROP INDEX IF EXISTS public."IX_repository_connections_created_by";
DROP INDEX IF EXISTS public."IX_project_metadata_field_definitions_is_active_sort_order";
DROP INDEX IF EXISTS public."IX_project_metadata_field_definitions_field_key";
DROP INDEX IF EXISTS public."IX_models_owner_id";
DROP INDEX IF EXISTS public."IX_models_model_group_id";
DROP INDEX IF EXISTS public."IX_models_created_at";
DROP INDEX IF EXISTS public."IX_model_versions_parent_version_id";
DROP INDEX IF EXISTS public."IX_model_versions_model_id_version_number";
DROP INDEX IF EXISTS public."IX_model_versions_model_id";
DROP INDEX IF EXISTS public."IX_model_versions_created_by";
DROP INDEX IF EXISTS public."IX_model_groups_name";
DROP INDEX IF EXISTS public."IX_model_groups_created_by";
DROP INDEX IF EXISTS public."IX_model_group_permissions_model_id";
DROP INDEX IF EXISTS public."IX_model_collaborators_user_id";
DROP INDEX IF EXISTS public."IX_model_collaborators_role";
DROP INDEX IF EXISTS public."IX_model_changes_user_id";
DROP INDEX IF EXISTS public."IX_model_changes_model_id";
DROP INDEX IF EXISTS public."IX_model_changes_created_at";
DROP INDEX IF EXISTS public."IX_editing_sessions_user_id";
DROP INDEX IF EXISTS public."IX_editing_sessions_model_id";
DROP INDEX IF EXISTS public."IX_devops_repository_mappings_model_id";
DROP INDEX IF EXISTS public."IX_database_systems_name";
DROP INDEX IF EXISTS public."IX_database_systems_key";
DROP INDEX IF EXISTS public."IX_database_systems_is_active";
DROP INDEX IF EXISTS public."IX_database_data_types_is_active";
DROP INDEX IF EXISTS public."IX_database_data_types_database_system_id_name";
DROP INDEX IF EXISTS public."IX_change_requests_status";
DROP INDEX IF EXISTS public."IX_change_requests_requester_id";
DROP INDEX IF EXISTS public."IX_change_requests_model_id";
DROP INDEX IF EXISTS public."IX_change_requests_created_at";
DROP INDEX IF EXISTS public."IX_change_requests_change_code";
DROP INDEX IF EXISTS public."IX_change_request_approval_logs_created_at";
DROP INDEX IF EXISTS public."IX_change_request_approval_logs_change_request_id";
DROP INDEX IF EXISTS public."IX_change_request_approval_logs_action_by";
DROP INDEX IF EXISTS public."IX_audit_logs_user_id";
DROP INDEX IF EXISTS public."IX_audit_logs_timestamp";
DROP INDEX IF EXISTS public."IX_audit_logs_model_id";
DROP INDEX IF EXISTS public."IX_audit_logs_action";
DROP INDEX IF EXISTS public."IX_application_roles_name";
DROP INDEX IF EXISTS public."IX_application_roles_is_active";
ALTER TABLE IF EXISTS ONLY public.yjs_updates DROP CONSTRAINT IF EXISTS "PK_yjs_updates";
ALTER TABLE IF EXISTS ONLY public.workflow_templates DROP CONSTRAINT IF EXISTS "PK_workflow_templates";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "PK_users";
ALTER TABLE IF EXISTS ONLY public.user_application_roles DROP CONSTRAINT IF EXISTS "PK_user_application_roles";
ALTER TABLE IF EXISTS ONLY public.repository_connections DROP CONSTRAINT IF EXISTS "PK_repository_connections";
ALTER TABLE IF EXISTS ONLY public.project_metadata_field_definitions DROP CONSTRAINT IF EXISTS "PK_project_metadata_field_definitions";
ALTER TABLE IF EXISTS ONLY public.models DROP CONSTRAINT IF EXISTS "PK_models";
ALTER TABLE IF EXISTS ONLY public.model_versions DROP CONSTRAINT IF EXISTS "PK_model_versions";
ALTER TABLE IF EXISTS ONLY public.model_groups DROP CONSTRAINT IF EXISTS "PK_model_groups";
ALTER TABLE IF EXISTS ONLY public.model_group_permissions DROP CONSTRAINT IF EXISTS "PK_model_group_permissions";
ALTER TABLE IF EXISTS ONLY public.model_collaborators DROP CONSTRAINT IF EXISTS "PK_model_collaborators";
ALTER TABLE IF EXISTS ONLY public.model_changes DROP CONSTRAINT IF EXISTS "PK_model_changes";
ALTER TABLE IF EXISTS ONLY public.editing_sessions DROP CONSTRAINT IF EXISTS "PK_editing_sessions";
ALTER TABLE IF EXISTS ONLY public.devops_settings DROP CONSTRAINT IF EXISTS "PK_devops_settings";
ALTER TABLE IF EXISTS ONLY public.devops_repository_mappings DROP CONSTRAINT IF EXISTS "PK_devops_repository_mappings";
ALTER TABLE IF EXISTS ONLY public.database_systems DROP CONSTRAINT IF EXISTS "PK_database_systems";
ALTER TABLE IF EXISTS ONLY public.database_data_types DROP CONSTRAINT IF EXISTS "PK_database_data_types";
ALTER TABLE IF EXISTS ONLY public.change_requests DROP CONSTRAINT IF EXISTS "PK_change_requests";
ALTER TABLE IF EXISTS ONLY public.change_request_details DROP CONSTRAINT IF EXISTS "PK_change_request_details";
ALTER TABLE IF EXISTS ONLY public.change_request_approval_logs DROP CONSTRAINT IF EXISTS "PK_change_request_approval_logs";
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS "PK_audit_logs";
ALTER TABLE IF EXISTS ONLY public.application_roles DROP CONSTRAINT IF EXISTS "PK_application_roles";
ALTER TABLE IF EXISTS ONLY public.ad_settings DROP CONSTRAINT IF EXISTS "PK_ad_settings";
ALTER TABLE IF EXISTS ONLY public."__EFMigrationsHistory" DROP CONSTRAINT IF EXISTS "PK___EFMigrationsHistory";
DROP TABLE IF EXISTS public.yjs_updates;
DROP TABLE IF EXISTS public.workflow_templates;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_application_roles;
DROP TABLE IF EXISTS public.repository_connections;
DROP TABLE IF EXISTS public.project_metadata_field_definitions;
DROP TABLE IF EXISTS public.models;
DROP TABLE IF EXISTS public.model_versions;
DROP TABLE IF EXISTS public.model_groups;
DROP TABLE IF EXISTS public.model_group_permissions;
DROP TABLE IF EXISTS public.model_collaborators;
DROP TABLE IF EXISTS public.model_changes;
DROP TABLE IF EXISTS public.editing_sessions;
DROP TABLE IF EXISTS public.devops_settings;
DROP TABLE IF EXISTS public.devops_repository_mappings;
DROP TABLE IF EXISTS public.database_systems;
DROP TABLE IF EXISTS public.database_data_types;
DROP TABLE IF EXISTS public.change_requests;
DROP TABLE IF EXISTS public.change_request_details;
DROP SEQUENCE IF EXISTS public.change_request_code_seq;
DROP TABLE IF EXISTS public.change_request_approval_logs;
DROP TABLE IF EXISTS public.audit_logs;
DROP TABLE IF EXISTS public.application_roles;
DROP TABLE IF EXISTS public.ad_settings;
DROP TABLE IF EXISTS public."__EFMigrationsHistory";
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


--
-- Name: ad_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ad_settings (
    id uuid NOT NULL,
    provider_type character varying(50) NOT NULL,
    is_enabled boolean NOT NULL,
    config text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    test_status character varying(20),
    test_message text,
    test_timestamp timestamp with time zone
);


--
-- Name: application_roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.application_roles (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    display_name character varying(150) NOT NULL,
    description character varying(500),
    permissions_json text,
    is_system boolean NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    model_id uuid,
    target_table_name text,
    ip_address text,
    user_agent text,
    details text,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.audit_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: change_request_approval_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.change_request_approval_logs (
    id uuid NOT NULL,
    change_request_id uuid NOT NULL,
    action_by uuid NOT NULL,
    from_status character varying(64),
    to_status character varying(64) NOT NULL,
    comment character varying(2000),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: change_request_code_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.change_request_code_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: change_request_details; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.change_request_details (
    change_request_id uuid NOT NULL,
    old_dbml_snapshot text NOT NULL,
    new_dbml_snapshot text NOT NULL,
    generated_sql text NOT NULL
);


--
-- Name: change_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.change_requests (
    id uuid NOT NULL,
    change_code character varying(16) NOT NULL,
    model_id uuid NOT NULL,
    requester_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    status character varying(64) NOT NULL,
    workflow_stages_json text NOT NULL,
    current_stage_index integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: database_data_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.database_data_types (
    id uuid NOT NULL,
    database_system_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    input_template character varying(500) NOT NULL,
    parameters_json text NOT NULL,
    requires_length boolean NOT NULL,
    supports_precision_scale boolean NOT NULL,
    is_active boolean NOT NULL,
    sort_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: database_systems; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.database_systems (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    key character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: devops_repository_mappings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.devops_repository_mappings (
    id uuid NOT NULL,
    model_id uuid NOT NULL,
    project_name character varying(255) NOT NULL,
    repository_name character varying(255) NOT NULL,
    branch_name character varying(255) DEFAULT 'main'::character varying NOT NULL,
    file_path character varying(500) NOT NULL,
    is_enabled boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: devops_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.devops_settings (
    id uuid NOT NULL,
    instance_url text NOT NULL,
    collection_name text NOT NULL,
    pat_token text,
    is_enabled boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    test_status character varying(20),
    test_message text,
    test_timestamp timestamp with time zone
);


--
-- Name: editing_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.editing_sessions (
    id uuid NOT NULL,
    model_id uuid NOT NULL,
    user_id uuid NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    last_activity timestamp with time zone DEFAULT now() NOT NULL,
    cursor_position integer,
    session_color text,
    is_active boolean NOT NULL
);


--
-- Name: model_changes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.model_changes (
    id bigint NOT NULL,
    model_id uuid NOT NULL,
    version_id uuid,
    user_id uuid NOT NULL,
    change_type character varying(50) NOT NULL,
    sql_script text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: model_changes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.model_changes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.model_changes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: model_collaborators; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.model_collaborators (
    model_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role character varying(50) NOT NULL,
    assigned_at timestamp with time zone DEFAULT now() NOT NULL,
    assigned_by uuid
);


--
-- Name: model_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.model_group_permissions (
    id uuid NOT NULL,
    model_id uuid NOT NULL,
    ad_group_name character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: model_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.model_groups (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: model_versions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.model_versions (
    id uuid NOT NULL,
    model_id uuid NOT NULL,
    dbml_content text NOT NULL,
    version_number integer NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    change_summary text,
    parent_version_id uuid,
    branch_name text DEFAULT 'main'::text NOT NULL,
    is_locked boolean NOT NULL
);


--
-- Name: models; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.models (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    owner_id uuid NOT NULL,
    description text,
    repository_id uuid,
    model_group_id uuid,
    database_dialect character varying(50) DEFAULT 'PostgreSQL'::character varying NOT NULL,
    project_metadata_json text DEFAULT '{}'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: project_metadata_field_definitions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_metadata_field_definitions (
    id uuid NOT NULL,
    field_key character varying(100) NOT NULL,
    display_name character varying(150) NOT NULL,
    field_type character varying(30) DEFAULT 'text'::character varying NOT NULL,
    is_required boolean NOT NULL,
    is_system boolean NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    options_json text DEFAULT '[]'::text NOT NULL,
    sort_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: repository_connections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.repository_connections (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    connection_string text,
    database_type character varying(50) NOT NULL,
    is_default boolean NOT NULL,
    is_enabled boolean NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: user_application_roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_application_roles (
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    assigned_at timestamp with time zone DEFAULT now() NOT NULL,
    assigned_by uuid
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    email_lower character varying(255) NOT NULL,
    password_hash text,
    azure_ad_id text,
    ldap_distinguished_name text,
    is_super_admin boolean NOT NULL,
    is_active boolean NOT NULL,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: workflow_templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workflow_templates (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    stages_json text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: yjs_updates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.yjs_updates (
    id bigint NOT NULL,
    model_id uuid NOT NULL,
    user_id uuid NOT NULL,
    update_binary bytea NOT NULL,
    version_clock integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: yjs_updates_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.yjs_updates ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.yjs_updates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: ad_settings PK_ad_settings; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ad_settings
    ADD CONSTRAINT "PK_ad_settings" PRIMARY KEY (id);


--
-- Name: application_roles PK_application_roles; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_roles
    ADD CONSTRAINT "PK_application_roles" PRIMARY KEY (id);


--
-- Name: audit_logs PK_audit_logs; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "PK_audit_logs" PRIMARY KEY (id);


--
-- Name: change_request_approval_logs PK_change_request_approval_logs; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_request_approval_logs
    ADD CONSTRAINT "PK_change_request_approval_logs" PRIMARY KEY (id);


--
-- Name: change_request_details PK_change_request_details; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_request_details
    ADD CONSTRAINT "PK_change_request_details" PRIMARY KEY (change_request_id);


--
-- Name: change_requests PK_change_requests; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_requests
    ADD CONSTRAINT "PK_change_requests" PRIMARY KEY (id);


--
-- Name: database_data_types PK_database_data_types; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.database_data_types
    ADD CONSTRAINT "PK_database_data_types" PRIMARY KEY (id);


--
-- Name: database_systems PK_database_systems; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.database_systems
    ADD CONSTRAINT "PK_database_systems" PRIMARY KEY (id);


--
-- Name: devops_repository_mappings PK_devops_repository_mappings; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.devops_repository_mappings
    ADD CONSTRAINT "PK_devops_repository_mappings" PRIMARY KEY (id);


--
-- Name: devops_settings PK_devops_settings; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.devops_settings
    ADD CONSTRAINT "PK_devops_settings" PRIMARY KEY (id);


--
-- Name: editing_sessions PK_editing_sessions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.editing_sessions
    ADD CONSTRAINT "PK_editing_sessions" PRIMARY KEY (id);


--
-- Name: model_changes PK_model_changes; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_changes
    ADD CONSTRAINT "PK_model_changes" PRIMARY KEY (id);


--
-- Name: model_collaborators PK_model_collaborators; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_collaborators
    ADD CONSTRAINT "PK_model_collaborators" PRIMARY KEY (model_id, user_id);


--
-- Name: model_group_permissions PK_model_group_permissions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_group_permissions
    ADD CONSTRAINT "PK_model_group_permissions" PRIMARY KEY (id);


--
-- Name: model_groups PK_model_groups; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_groups
    ADD CONSTRAINT "PK_model_groups" PRIMARY KEY (id);


--
-- Name: model_versions PK_model_versions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_versions
    ADD CONSTRAINT "PK_model_versions" PRIMARY KEY (id);


--
-- Name: models PK_models; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT "PK_models" PRIMARY KEY (id);


--
-- Name: project_metadata_field_definitions PK_project_metadata_field_definitions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_metadata_field_definitions
    ADD CONSTRAINT "PK_project_metadata_field_definitions" PRIMARY KEY (id);


--
-- Name: repository_connections PK_repository_connections; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.repository_connections
    ADD CONSTRAINT "PK_repository_connections" PRIMARY KEY (id);


--
-- Name: user_application_roles PK_user_application_roles; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_application_roles
    ADD CONSTRAINT "PK_user_application_roles" PRIMARY KEY (user_id, role_id);


--
-- Name: users PK_users; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_users" PRIMARY KEY (id);


--
-- Name: workflow_templates PK_workflow_templates; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workflow_templates
    ADD CONSTRAINT "PK_workflow_templates" PRIMARY KEY (id);


--
-- Name: yjs_updates PK_yjs_updates; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yjs_updates
    ADD CONSTRAINT "PK_yjs_updates" PRIMARY KEY (id);


--
-- Name: IX_application_roles_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_application_roles_is_active" ON public.application_roles USING btree (is_active);


--
-- Name: IX_application_roles_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_application_roles_name" ON public.application_roles USING btree (name);


--
-- Name: IX_audit_logs_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_audit_logs_action" ON public.audit_logs USING btree (action);


--
-- Name: IX_audit_logs_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_audit_logs_model_id" ON public.audit_logs USING btree (model_id);


--
-- Name: IX_audit_logs_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_audit_logs_timestamp" ON public.audit_logs USING btree ("timestamp" DESC);


--
-- Name: IX_audit_logs_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_audit_logs_user_id" ON public.audit_logs USING btree (user_id);


--
-- Name: IX_change_request_approval_logs_action_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_change_request_approval_logs_action_by" ON public.change_request_approval_logs USING btree (action_by);


--
-- Name: IX_change_request_approval_logs_change_request_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_change_request_approval_logs_change_request_id" ON public.change_request_approval_logs USING btree (change_request_id);


--
-- Name: IX_change_request_approval_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_change_request_approval_logs_created_at" ON public.change_request_approval_logs USING btree (created_at DESC);


--
-- Name: IX_change_requests_change_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_change_requests_change_code" ON public.change_requests USING btree (change_code);


--
-- Name: IX_change_requests_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_change_requests_created_at" ON public.change_requests USING btree (created_at DESC);


--
-- Name: IX_change_requests_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_change_requests_model_id" ON public.change_requests USING btree (model_id);


--
-- Name: IX_change_requests_requester_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_change_requests_requester_id" ON public.change_requests USING btree (requester_id);


--
-- Name: IX_change_requests_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_change_requests_status" ON public.change_requests USING btree (status);


--
-- Name: IX_database_data_types_database_system_id_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_database_data_types_database_system_id_name" ON public.database_data_types USING btree (database_system_id, name);


--
-- Name: IX_database_data_types_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_database_data_types_is_active" ON public.database_data_types USING btree (is_active);


--
-- Name: IX_database_systems_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_database_systems_is_active" ON public.database_systems USING btree (is_active);


--
-- Name: IX_database_systems_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_database_systems_key" ON public.database_systems USING btree (key);


--
-- Name: IX_database_systems_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_database_systems_name" ON public.database_systems USING btree (name);


--
-- Name: IX_devops_repository_mappings_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_devops_repository_mappings_model_id" ON public.devops_repository_mappings USING btree (model_id);


--
-- Name: IX_editing_sessions_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_editing_sessions_model_id" ON public.editing_sessions USING btree (model_id);


--
-- Name: IX_editing_sessions_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_editing_sessions_user_id" ON public.editing_sessions USING btree (user_id);


--
-- Name: IX_model_changes_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_changes_created_at" ON public.model_changes USING btree (created_at DESC);


--
-- Name: IX_model_changes_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_changes_model_id" ON public.model_changes USING btree (model_id);


--
-- Name: IX_model_changes_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_changes_user_id" ON public.model_changes USING btree (user_id);


--
-- Name: IX_model_collaborators_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_collaborators_role" ON public.model_collaborators USING btree (role);


--
-- Name: IX_model_collaborators_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_collaborators_user_id" ON public.model_collaborators USING btree (user_id);


--
-- Name: IX_model_group_permissions_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_group_permissions_model_id" ON public.model_group_permissions USING btree (model_id);


--
-- Name: IX_model_groups_created_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_groups_created_by" ON public.model_groups USING btree (created_by);


--
-- Name: IX_model_groups_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_model_groups_name" ON public.model_groups USING btree (name);


--
-- Name: IX_model_versions_created_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_versions_created_by" ON public.model_versions USING btree (created_by);


--
-- Name: IX_model_versions_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_versions_model_id" ON public.model_versions USING btree (model_id);


--
-- Name: IX_model_versions_model_id_version_number; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_model_versions_model_id_version_number" ON public.model_versions USING btree (model_id, version_number);


--
-- Name: IX_model_versions_parent_version_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_model_versions_parent_version_id" ON public.model_versions USING btree (parent_version_id);


--
-- Name: IX_models_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_models_created_at" ON public.models USING btree (created_at DESC);


--
-- Name: IX_models_model_group_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_models_model_group_id" ON public.models USING btree (model_group_id);


--
-- Name: IX_models_owner_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_models_owner_id" ON public.models USING btree (owner_id);


--
-- Name: IX_project_metadata_field_definitions_field_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_project_metadata_field_definitions_field_key" ON public.project_metadata_field_definitions USING btree (field_key);


--
-- Name: IX_project_metadata_field_definitions_is_active_sort_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_project_metadata_field_definitions_is_active_sort_order" ON public.project_metadata_field_definitions USING btree (is_active, sort_order);


--
-- Name: IX_repository_connections_created_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_repository_connections_created_by" ON public.repository_connections USING btree (created_by);


--
-- Name: IX_repository_connections_is_default; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_repository_connections_is_default" ON public.repository_connections USING btree (is_default);


--
-- Name: IX_user_application_roles_role_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_user_application_roles_role_id" ON public.user_application_roles USING btree (role_id);


--
-- Name: IX_users_azure_ad_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_users_azure_ad_id" ON public.users USING btree (azure_ad_id);


--
-- Name: IX_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_users_email" ON public.users USING btree (email);


--
-- Name: IX_users_email_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_users_email_lower" ON public.users USING btree (email_lower);


--
-- Name: IX_yjs_updates_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_yjs_updates_created_at" ON public.yjs_updates USING btree (created_at DESC);


--
-- Name: IX_yjs_updates_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_yjs_updates_model_id" ON public.yjs_updates USING btree (model_id);


--
-- Name: IX_yjs_updates_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_yjs_updates_user_id" ON public.yjs_updates USING btree (user_id);


--
-- Name: idx_application_roles_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_application_roles_is_active ON public.application_roles USING btree (is_active);


--
-- Name: idx_change_request_approval_logs_action_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_change_request_approval_logs_action_by ON public.change_request_approval_logs USING btree (action_by);


--
-- Name: idx_change_request_approval_logs_change_request_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_change_request_approval_logs_change_request_id ON public.change_request_approval_logs USING btree (change_request_id);


--
-- Name: idx_change_request_approval_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_change_request_approval_logs_created_at ON public.change_request_approval_logs USING btree (created_at DESC);


--
-- Name: idx_change_requests_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_change_requests_created_at ON public.change_requests USING btree (created_at DESC);


--
-- Name: idx_change_requests_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_change_requests_model_id ON public.change_requests USING btree (model_id);


--
-- Name: idx_change_requests_requester_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_change_requests_requester_id ON public.change_requests USING btree (requester_id);


--
-- Name: idx_change_requests_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_change_requests_status ON public.change_requests USING btree (status);


--
-- Name: idx_database_data_types_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_database_data_types_is_active ON public.database_data_types USING btree (is_active);


--
-- Name: idx_database_data_types_system_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_database_data_types_system_id ON public.database_data_types USING btree (database_system_id);


--
-- Name: idx_database_systems_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_database_systems_is_active ON public.database_systems USING btree (is_active);


--
-- Name: idx_devops_repository_mappings_enabled; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_devops_repository_mappings_enabled ON public.devops_repository_mappings USING btree (is_enabled);


--
-- Name: idx_model_groups_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_model_groups_name ON public.model_groups USING btree (name);


--
-- Name: idx_models_model_group_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_models_model_group_id ON public.models USING btree (model_group_id);


--
-- Name: idx_project_metadata_fields_active_sort; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_project_metadata_fields_active_sort ON public.project_metadata_field_definitions USING btree (is_active, sort_order);


--
-- Name: idx_user_application_roles_role_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_application_roles_role_id ON public.user_application_roles USING btree (role_id);


--
-- Name: uq_devops_repository_mappings_model_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_devops_repository_mappings_model_id ON public.devops_repository_mappings USING btree (model_id);


--
-- Name: ux_change_requests_change_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_change_requests_change_code ON public.change_requests USING btree (change_code);


--
-- Name: audit_logs FK_audit_logs_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "FK_audit_logs_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE SET NULL;


--
-- Name: audit_logs FK_audit_logs_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "FK_audit_logs_users_user_id" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: change_request_approval_logs FK_change_request_approval_logs_change_requests_change_request~; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_request_approval_logs
    ADD CONSTRAINT "FK_change_request_approval_logs_change_requests_change_request~" FOREIGN KEY (change_request_id) REFERENCES public.change_requests(id) ON DELETE CASCADE;


--
-- Name: change_request_approval_logs FK_change_request_approval_logs_users_action_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_request_approval_logs
    ADD CONSTRAINT "FK_change_request_approval_logs_users_action_by" FOREIGN KEY (action_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: change_request_details FK_change_request_details_change_requests_change_request_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_request_details
    ADD CONSTRAINT "FK_change_request_details_change_requests_change_request_id" FOREIGN KEY (change_request_id) REFERENCES public.change_requests(id) ON DELETE CASCADE;


--
-- Name: change_requests FK_change_requests_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_requests
    ADD CONSTRAINT "FK_change_requests_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: change_requests FK_change_requests_users_requester_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_requests
    ADD CONSTRAINT "FK_change_requests_users_requester_id" FOREIGN KEY (requester_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: database_data_types FK_database_data_types_database_systems_database_system_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.database_data_types
    ADD CONSTRAINT "FK_database_data_types_database_systems_database_system_id" FOREIGN KEY (database_system_id) REFERENCES public.database_systems(id) ON DELETE CASCADE;


--
-- Name: devops_repository_mappings FK_devops_repository_mappings_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.devops_repository_mappings
    ADD CONSTRAINT "FK_devops_repository_mappings_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: editing_sessions FK_editing_sessions_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.editing_sessions
    ADD CONSTRAINT "FK_editing_sessions_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: editing_sessions FK_editing_sessions_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.editing_sessions
    ADD CONSTRAINT "FK_editing_sessions_users_user_id" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: model_changes FK_model_changes_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_changes
    ADD CONSTRAINT "FK_model_changes_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_changes FK_model_changes_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_changes
    ADD CONSTRAINT "FK_model_changes_users_user_id" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: model_collaborators FK_model_collaborators_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_collaborators
    ADD CONSTRAINT "FK_model_collaborators_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_collaborators FK_model_collaborators_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_collaborators
    ADD CONSTRAINT "FK_model_collaborators_users_user_id" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: model_group_permissions FK_model_group_permissions_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_group_permissions
    ADD CONSTRAINT "FK_model_group_permissions_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_groups FK_model_groups_users_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_groups
    ADD CONSTRAINT "FK_model_groups_users_created_by" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: model_versions FK_model_versions_model_versions_parent_version_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_versions
    ADD CONSTRAINT "FK_model_versions_model_versions_parent_version_id" FOREIGN KEY (parent_version_id) REFERENCES public.model_versions(id) ON DELETE SET NULL;


--
-- Name: model_versions FK_model_versions_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_versions
    ADD CONSTRAINT "FK_model_versions_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: model_versions FK_model_versions_users_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.model_versions
    ADD CONSTRAINT "FK_model_versions_users_created_by" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: models FK_models_model_groups_model_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT "FK_models_model_groups_model_group_id" FOREIGN KEY (model_group_id) REFERENCES public.model_groups(id) ON DELETE SET NULL;


--
-- Name: models FK_models_users_owner_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT "FK_models_users_owner_id" FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: repository_connections FK_repository_connections_users_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.repository_connections
    ADD CONSTRAINT "FK_repository_connections_users_created_by" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: user_application_roles FK_user_application_roles_application_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_application_roles
    ADD CONSTRAINT "FK_user_application_roles_application_roles_role_id" FOREIGN KEY (role_id) REFERENCES public.application_roles(id) ON DELETE CASCADE;


--
-- Name: user_application_roles FK_user_application_roles_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_application_roles
    ADD CONSTRAINT "FK_user_application_roles_users_user_id" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: yjs_updates FK_yjs_updates_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yjs_updates
    ADD CONSTRAINT "FK_yjs_updates_models_model_id" FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: yjs_updates FK_yjs_updates_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.yjs_updates
    ADD CONSTRAINT "FK_yjs_updates_users_user_id" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: change_request_approval_logs fk_change_request_approval_logs_change_requests_change_request_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_request_approval_logs
    ADD CONSTRAINT fk_change_request_approval_logs_change_requests_change_request_ FOREIGN KEY (change_request_id) REFERENCES public.change_requests(id) ON DELETE CASCADE;


--
-- Name: change_request_approval_logs fk_change_request_approval_logs_users_action_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_request_approval_logs
    ADD CONSTRAINT fk_change_request_approval_logs_users_action_by FOREIGN KEY (action_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: change_request_details fk_change_request_details_change_requests_change_request_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_request_details
    ADD CONSTRAINT fk_change_request_details_change_requests_change_request_id FOREIGN KEY (change_request_id) REFERENCES public.change_requests(id) ON DELETE CASCADE;


--
-- Name: change_requests fk_change_requests_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_requests
    ADD CONSTRAINT fk_change_requests_models_model_id FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: change_requests fk_change_requests_users_requester_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_requests
    ADD CONSTRAINT fk_change_requests_users_requester_id FOREIGN KEY (requester_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: database_data_types fk_database_data_types_database_systems_database_system_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.database_data_types
    ADD CONSTRAINT fk_database_data_types_database_systems_database_system_id FOREIGN KEY (database_system_id) REFERENCES public.database_systems(id) ON DELETE CASCADE;


--
-- Name: devops_repository_mappings fk_devops_repository_mappings_models_model_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.devops_repository_mappings
    ADD CONSTRAINT fk_devops_repository_mappings_models_model_id FOREIGN KEY (model_id) REFERENCES public.models(id) ON DELETE CASCADE;


--
-- Name: models fk_models_model_groups_model_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT fk_models_model_groups_model_group_id FOREIGN KEY (model_group_id) REFERENCES public.model_groups(id) ON DELETE SET NULL;


--
-- Name: user_application_roles fk_user_application_roles_application_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_application_roles
    ADD CONSTRAINT fk_user_application_roles_application_roles_role_id FOREIGN KEY (role_id) REFERENCES public.application_roles(id) ON DELETE CASCADE;


--
-- Name: user_application_roles fk_user_application_roles_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_application_roles
    ADD CONSTRAINT fk_user_application_roles_users_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict vNSzulm6AqEaH7i4bGoMejgurwlT2aSXRxt4da6vSGWzCpvYry98H3hCPo9x0oY

